.herosection{
          clear: both;
    padding-top: 6%;
    
h2{
         font-size: 70px;
    text-transform: uppercase;
    /* font-family: 'Cormorant Garamond', serif; */
}

p{
         font-size: 17px;
       line-height: 15px;
     letter-spacing: 3px;
}

}