/*============================
 logo 
 =============================*/

 .logosect{
    padding:1% 1% 1% 1%;
    margin-bottom:2%;
 }
 .logo{
    display: inline-block;
    border: 1px solid black;
    border-bottom-left-radius: 25% ;
    border-bottom-right-radius: 25%;
    padding: 2%;
    width: 9%;
    text-align: center;
 }
 nav{
    float: right;
    word-spacing: 90px;
 }